// BREACKPOINTS 
// ====================================================================================
$mw:1170px;

$md1:($mw + 60px);
$md2:992px;
$md3:767px;
$md4:576px;

$cmd1: ($mw - 30px);
$cmd2: 960px;
$cmd3: 720px;
$cmd4: 540px;
// ====================================================================================
// BREACKPOINTS 



// FONTS
// ====================================================================================
$f_main: 'FuturaFuturis';
$f_secondary:'MyriadPro';


// ====================================================================================
// FONTS


// COLORS
// ====================================================================================
$c_main: #fc6803;
$c_alizarin_crimson: #e32427;
$_silver_light: #f1f1f2;

$c_daisy_bush: #582d8f;
$c_gray: #808080;

$c_bouquet:#ab65a8;
$c_blue_chill: #0987a5;
$c_azure_radiance: #0c77e2;
$c_cerise:#d53191;
$c_buttercup: #f5bf16;
$c_lima:#74d81d;
$c_turquoise:#3adbd2;
$c_tree_poppy:#f89e1b;
$c_mantis:#71bf54;
$c_flamingo: #e85325;
$c_persian_blue :#2424b2;
$c_yellow :#fff200;
$c_deep_sea_green :#0e6c60;
$c_red :#ff0000;
$c_tamarillo :#991422;
$c_hopbush :#d17eb3;
$c_thunder :#231f20;
$c_bourbon :#bf7a1f;
$c_EarlsGreen :#aebc36;
$c_Jewel :#19753b;
$c_Downy :#72cbd2;
$c_SanMarino :#3e55a3;
$c_Sunshade :#ff8d27;
$c_Pomegranate:#ef4925;
$c_Azure:#3559a7;
$c_Atlantis:#9cca3b;

$c_PictonBlue:#43b2e5;

// ====================================================================================
// COLORS